key
sanger/.DS_Store
sanger/.nextflow.log
sanger/.nextflow.log.1
sanger/.nextflow.log.2
sanger/.nextflow.log.3
sanger/.nextflow.log.4
sanger/.nextflow.log.5
sanger/.nextflow.log.6
sanger/.nextflow.log.7
sanger/.nextflow.log.8
sanger/.nextflow.log.9
sanger/.nextflow/
sanger/work/
sanger/01_fastqFiles
sanger/03_mergedReads
sanger/02_qualityTrimmed
sanger/organize_files.sh
sanger/sangerMerge.sh