params {
    rawreads = "/Users/mohammedahmed/Documents/StoreMosse/Analysis/RAWREADS/SM*R{1,2}_001.fastq"
    ref = "/Users/mohammedahmed/Documents/StoreMosse/Analysis/REF/Nematode_ref_v10022022_final_SINTAX.fasta"
    cpus = 5
    minOvLen = 100
    maxDiff = 15
    maxEE = 0.5
    fastqMinLen = 225
    fastqMaxLen = 400
    fastqmaxNs = 0
    fastaWidth = 0
    minUnSize = 1
    PreClusterID = 0.98
    clusterID = 0.97
    sintaxCutoff = 0.97
    email = "kandinge@yahoo.com"
}
