params {
    proteomesPath = "$baseDir/proteins"
    proteins = "$baseDir/proteins/*.faa"
    proteinortho_sim = 0.97
    proteinortho_id = 50
    proteinortho_evalue = 0.00001
    cpus = 5
    proteinorthoDir = "orthology"
    mafftmaxIterate = 1000
    iqtreeBS = 1000
    phypyPrunerMinLen = 50
    phypyPrunerMinSupport = 0.75
    phypyPrunerOutgroup = "LonElo8"
    raxMLName = "raxmlOutput"
    raxMLModel = "PROTGAMMALG"
    raxMLP = 12345
    raxMLascCorr = "lewis"
    iqTrBS = 1000
    iqTrModel = "C60+F+G"
    iqTrSeed = 12345
    iqTrOutgroup = "iqtreeOutput"
    astralCollapse = 75
    email = "kandinge@yahoo.com"
}
